body {
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #efefef;
}

.infobar {
  position: fixed;
  width: 100%;
  height: 9vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgb(18, 140, 126);
  padding: 5px;
  align-items: center;
  color: aliceblue;
  z-index: 99;
  margin-bottom: 1px;
}

.profileimage {
  width: 4%;
  border-radius: 50%;
  margin-right: 2%;
}

.mainbody {
  background: #efefef;
  height: 83vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10vh 0 5vh 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.controls {
  position: fixed;
  display: flex;
  bottom: 0;
  width: 100%;
  height: 5vh;
  padding: 10px;
  background-color: rgb(18, 140, 126);
  justify-content: flex-start;
  align-items: center;
  vertical-align: middle;
  color: aliceblue;
  z-index: 99;
}

.outputmessage {
  display: flex;
  align-self: flex-start;
  flex-direction: row;
  flex-shrink: inherit;
  align-items: center;
  background-color: #34b7f1;
  max-width: 80%;
  max-height: 100px;
  padding: 10px;
  margin: 15px;
  border-radius: 10px 10px 10px 0px;
  color: aliceblue;
}

.inputmessage {
  display: flex;
  align-self: flex-end;
  flex-direction: row;
  flex-shrink: inherit;
  align-items: center;
  background-color: #25d366;
  max-width: 80%;
  max-height: 100px;
  padding: 10px;
  margin: 15px;
  border-radius: 10px 10px 0px 10px;
  color: aliceblue;
}

.messageprofile {
  width: 2em;
  border-radius: 50%;
  margin-right: 10px;
}

.messagetext {
  font-size: 16px;
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sendbutton {
  display: flex;
  border-radius: 50%;
  border: grey solid 1px;
  padding: 5px;
  margin: 0 10px 0 5px;
  vertical-align: middle;
  background-color: aliceblue;
}

.sendbutton:hover {
  outline: none;
  background-color: silver;
}

.sendbutton:active {
  outline: none;
  background-color: gainsboro;
}

.messageinput {
  border-radius: 20px;
  width: 75%;
  height: fit-content;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 16px;
}

@media only screen and (max-width: 700px) {
  .mainbody {
    overflow: auto;
    text-align: justify;
  }

  .controls {
    height: 25px;
  }

  .outputmessage {
    max-width: 70%;
    padding: 5px;
    margin: 10px;
    min-height: fit-content;
  }

  .inputmessage {
    max-width: 70%;
    padding: 5px;
    margin: 10px;
    min-height: fit-content;
  }
}
